.numPad {
    max-width: 180px;
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    flex-wrap: wrap-reverse;
  }

  .numPad .calcButton {
    background-color: rgb(228, 228, 228);
    font-size: 20px;
    color: #080807
  }

  .numPad .calcButton:first-of-type {
    width: 120px;
  }
  .pow {
    background-color: red;
  }