.operatorPanel {
  display: flex;
  flex-direction: column;  
}

.operatorPanel .calcButton {
  background-color: #FC9C17;
  font-size: 25px;
  font-weight: lighter
}

.operatorPanel .calcButton:hover {
  background-color:#ff8c1a;
}