.servicePanel {
    display: flex;
    flex-direction: row;
    height: 60px;
    align-self: flex-start;
}

.servicePanel .calcButton {
    background-color: #CACACC;
    font-size: 20px;
}
.servicePanel .calcButton:hover {
    background-color: #b3b3b3;
}
