body {
  padding-top: 20px;
}
.displayArea {
    padding: 0 10px;
    height: 40px;
    width: 240px;
    background-color: #FFF;
    box-sizing: border-box;
    background-color: #000;
  }
  .displayValue {
    text-align: right;
    margin: 0;
    color: #FFF;
    font-size: 30px;
  }