body {
  padding-top: 20px;
}
.displayValue {
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    font-size: 50px;
    padding: 0 2%;
    height: 60px;
    width: 240px;
    box-sizing: border-box;
    background-color: #000;
    color: #FFF;
    text-align: right;
    margin: 0;
  }
